:root {
  --primary-bg: #060606;
}
body {
  background-color: var(--primary-bg);
  color: #fff;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 4rem 4rem;
}

.nav-heading {
  font-weight: 600;
  letter-spacing: 0.3rem;
  font-size: 2.4rem;
}

.nav-bar {
  display: flex;
  gap: 5rem;
  flex-direction: row;
}

.nav-bar-link:link,
.nav-bar-link:visited {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

.menu {
  width: 2.4rem;
  height: 2.4rem;
}
