:root {
  --primary-bg: #060606;
}
body {
  background-color: var(--primary-bg);
  color: #fff;
  position: relative;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}

.nav-heading {
  font-weight: 600;
  letter-spacing: 0.3rem;
  font-size: 2.4rem;
}

.nav-bar {
  display: flex;
  gap: 5rem;
  flex-direction: row;
}

.nav-bar-link:link,
.nav-bar-link:visited {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

.menu {
  width: 2.4rem;
  height: 2.4rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3rem;
  height: 90vh;
  padding-left: 12.4rem;
}


h1,
p {
  width: 40%;
}

.hero h1 {
  font-size: 7rem;
  font-weight: 400;
  font-family: 'Histora Beralin', sans-serif;
  line-height: 7rem;
  letter-spacing: 11%;
}

.hero p {
  width: 30%;
  font-size: 2.4rem;
  font-weight: 200;
}

.img-section {
  position: absolute;
  background-image: url(assets/zack-jarosz.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 100% 0;
  overflow: hidden;
  width: 60%;
  height: 100%;
  right: 0;
  top: 5rem;
}

.green-strip {
  background-color: rgba(66, 255, 0, 0.2);
  height: 7.5rem;
  width: 85%;
  margin: auto 0;
  position: absolute;
  top: 25%;
  right: 0;
}
